/* Estilo para eliminar márgenes laterales */
.block-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Puedes añadir más ajustes personalizados aquí */
/* 🔄 Tabla con encabezados rotados verticalmente */
/* 🎯 Rotar encabezados 90° hacia arriba y centrar */
/* .vertical-headers th {
    height: 140px;
    width: 55px;
    padding: 5px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.vertical-headers th > div {
    transform: rotate(-90deg);
    transform-origin: center center;
    display: inline-block;
    line-height: 1.1;
    white-space: pre-line; 
}  */

.vertical-headers th {
    height: 90px;            /* Reduce altura general */
    width: 55px;
    padding: 0 5px;
    font-size: 0.75rem;
    border: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.vertical-headers th > div {
    transform: rotate(-90deg);
    transform-origin: center center;   /* 🎯 Mantiene centrado en su celda */
    display: inline-block;
    line-height: 1.1;
    white-space: pre-line;
    margin-top: 10px;     /* 🔧 Empuja texto hacia abajo DENTRO del th */
}
.valor-vacio {
    color: #999;
    position: relative;
    display: inline-block;
}

.valor-vacio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #999;
    transform: translateY(-50%);
}

/* Estilo azul para los filtros multiselect de Streamlit */

span[data-baseweb="tag"] {
    background-color: #1E90FF !important;  /* Azul fuerte */
    color: white !important;
    border-radius: 5px !important;
}

/* Cambiar el borde rojo del dropdown en focus o error */
div[data-baseweb="select"] > div {
    border-color: #1E90FF !important; /* Azul fuerte */
    box-shadow: 0 0 0 2px rgba(30, 144, 255, 0.4) !important;
}


iframe {
    width: 100% !important;
    max-width: 100% !important;
    height: 250px !important;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

/* Reducir tamaño de los campos number_input en tablas de rangos */
input[type="number"] {
    max-width: 60px !important;
    font-size: 0.90rem !important;
    padding: 2px 4px !important;
}

/* 🔘 Botón flotante de impresión */
#print-btn {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: #1E90FF;
    color: white;
    padding: 10px 12px;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    z-index: 9999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#print-btn:hover {
    background-color: #0f5eb8;
}
